#!/bin/bash
hostname=$(hostname)
image=${web_image_tag}
docker pull $image
docker run \
  --name web \
  --publish 80:7000 \
  --env VITE_EC2_HOSTNAME=$hostname \
  --env VITE_PROXY=http://${api_lb_dns_name} \
  --rm \
  --detach \
  $image

until curl --fail http://localhost
do
  echo "Waiting for the web, retrying in 3 seconds..."
  sleep 3
done
